{% extends "layout.njk" %}

{% block content %}

    <div class="paragraph">
        <h1>Community</h1>
        <p>Come and be part of this community of students that
            together grows and supports itself in studies.
        </p>
    </div>

    <div class="card_image">
        <img src="image/quadro.png"
            alt="blackboard, with dark green background and written a name, education changes the world. On the right side there is a notebook at the bottom of the edge.">
    </div>

    <div id="footer">
        <p>Follow us</p>
        <hr>
    </div>

{% endblock %}