<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {% block head %}
        <title>Community</title>
    {% endblock %}

    <link rel="icon" href="image/favicon.jpg" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <div class="links">
            <a href="/" class="active">Home</a>
            <a href="/about">About</a>
            <a href="/studywithme">StudyWithMe</a>
            <a href="/teachers">Teachers</a>
            <a href="/students">Students</a>
        </div>
    </header>

    {% block content %}{% endblock %}
</body>

</html>