{% extends "layout.njk" %}

    {% block head %}
        <title>Community - Students</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}

{% block content %}
    <h1 id="h1">Students Page</h1>

    <script src="/scripts.js"></script>
{% endblock %}