:root {
    --color--gray: rgba(0, 0, 0, 0.7);
    --color--white: white;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: var(--color--white);
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: #1C1C1C;
}

.links {
    text-align: center;
}

.links a {
    color: var(--color--white);
    font-size: 17px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}

.links a:hover {
    color: #A9A9A9;
    transition: color 200ms;
}

.links-footer {
    text-align: center;
}

.links-footer a {
    color: var(--color--gray);
    font-size: 17px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}

.links-footer a:hover {
    color: #A9A9A9;
    transition: color 200ms;
}

#link a {
    border-bottom: 1px solid var(--color--gray);
}

.paragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    text-align: left;
    padding-left: 55px;
    margin: 200px 0;

}

.paragraph h1 {
    line-height: 60px;
}

.paragraph p {
    max-width: 500px;
    line-height: 30px;
}

.card_image img {
    width: 820px;
    height: 555px;
    margin-left: 500px;
    margin-top: -520px; 
    position: fixed; 
    
} 

#wrapper {
    text-align: center;
    padding: 22px;
    line-height: 42px;
}

#wrapper img {
    border-radius: 50%;
    border: 5px solid var(--color--gray);
    width: 190px;
    height: 180px;
    margin-bottom: 12px;
}

#wrapper ul li {
    list-style-type: none;
    padding: 4px 8px;
    margin: 5px;
    line-height: 15px;
}

#wrapper h1 {
    font-weight: 500;
}

.cards {
    max-width: 800px;
    margin: 0px 150px;
    padding: 10px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.card {
    background-color: #C0C0C0;

    display: grid;
    cursor: pointer;
}

.card div img {
    width: 300px;
    height: 170px;
    padding-right: 0px;
}

.card__image-container {
    width: 100%;
}

.card__content,
.card__info {
    padding: 24px;
    color: black;
}

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.card__paragraph {
    padding: 10px 5px;
}

.card__name {
    background-color: #C0C0C0;
    filter: brightness(90%);
    padding: 5px 10px;
    border-radius: 20px;
    text-align: center;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: var(--color--white);
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 6%;
}

#footer hr {
    background-color: gray;
    width: 90%;
    height: 1px;
    margin: 0 55px;

}

#footer p {
  padding: 20px 55px;
}

.featured{
    position: absolute;
    background: #f7d05f;
    color: #111;
    padding: 5px 10px;
    border-radius: 8px;
    margin-top: -20px;
    margin-left: 180px;
    
}


.card_video-container {
    position: relative;
    padding-top: 43.5%;
    
}

.card_video-container iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}


.video{
    margin: 0 auto;
    max-width: 800px;
}
