@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --color--gray: rgba(0, 0, 0, 0.7);
    --color--white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color--white);
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

header {
    width: 100%;
    padding: 32px;
    border-bottom: 1px solid #333;
    background: #1C1C1C;
}

#h1{
    text-align: center;
}

/* MENU */

.links {
    text-align: center;
}

.links a {
    color: var(--color--white);
    font-size: 17px;
    line-height: 28px;
    text-decoration: none;
    position: relative;
}
.links a + a {
    margin-left: 32px;
}

.links a.active {
    font-weight: 600;
    color: rgba(0, 255, 127, .7);
}

.links a:hover {
    color: rgba(0, 255, 127, .7);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: rgba(0, 255, 127, .7);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 300ms ease-in-out;
}

.links-footer {
    text-align: center;
}

.links-footer a {
    color: var(--color--gray);
    font-size: 17px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}

.links-footer a:hover {
    color: #A9A9A9;
    transition: color 200ms;
}

#link a {
    border-bottom: 1px solid var(--color--gray);
}

.paragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    text-align: left;
    padding-left: 55px;
    margin: 200px 0;

}

.paragraph h1 {
    line-height: 60px;
}

.paragraph p {
    max-width: 500px;
    line-height: 30px;
}

.card_image img {
    width: 820px;
    height: 555px;
    margin-left: 500px;
    margin-top: -520px; 
    position: fixed; 
    
} 

#wrapper {
    text-align: center;
    padding: 22px;
    line-height: 42px;
}

#wrapper img {
    border-radius: 50%;
    border: 5px solid var(--color--gray);
    width: 190px;
    height: 180px;
    margin-bottom: 12px;
}

#wrapper ul li {
    list-style-type: none;
    padding: 4px 8px;
    margin: 5px;
    line-height: 15px;
}

#wrapper h1 {
    font-weight: 500;
}

#footer hr {
    background-color: gray;
    width: 90%;
    height: 1px;
    margin: 0 55px;

}

#footer p {
  padding: 20px 55px;
}

.featured{
    position: absolute;
    background: #f7d05f;
    color: #111;
    padding: 5px 10px;
    border-radius: 8px;
    margin-top: -20px;
    margin-left: 180px;
    
}


.card_video-container {
    position: relative;
    padding-top: 43.5%;
    
}

.card_video-container iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}


.video{
    margin: 0 auto;
    max-width: 800px;
}

/* Card - Teachers */
.card-teachers,
.card-students {
    background: linear-gradient(to right bottom,  #00CED1, #00FF7F);
    width: 800px;
    min-height: 400px;
    margin: 45px auto;

    border-radius: 15px;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.7);

    display: grid;
    grid-template-columns: 1fr 1fr;

    animation-name: up;
    animation-duration: 700ms;
    animation-timing-function: ease-out;
}

@keyframes up{
    from{
        opacity: 0;
        transform: translateY(15px);
    } 

    to{
        opacity: 1;
    }
}


/* DETALHES - SHOW PAGE */
.avatar{
    border-radius: 10px;
}

.details{
    padding: 32px;
}

.details h3 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: rgba(17, 17, 17, 0.7);
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 16px 0;

}

.details .item:last-child  {
    border-bottom: none;
}

.details .item div:nth-child(1){
    color: whitesmoke;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.7px;
}

.details .item div:nth-child(2){
    color: rgba(17, 17, 17, 0.6);
    font-weight: 600;
    font-size: 16px;
}

.details .item span{
    padding: 8px 16px;
    background-color: #C0C0C0;
    border-radius: 10px;

    text-transform: uppercase;
    font-size: 12px;

    margin-top: 8px;
    margin-right: 4px;

    display: inline-block;
}

/* FORM - CREATE */
input,
select {
    color: rgba(17, 17, 17, 0.7);
    font-weight: 500;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;

    width: 100%;
    padding: 6px;

    outline: none;
    border: none;
    border-radius: 5px;
}

input[type="radio"]{
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: 500;
}

button[type="submit"],
a.button {
    background-color: #eee;
    padding: 8px 32px;
    margin-top: 32px;
    width: 100%;

    border: none;
    border-radius: 4px;

    font-size: 16px;
    font-family: 'Poppins', sans-serif;

    cursor: pointer;
   
}

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #111;
    
}

#form-delete button[type="submit"] {
    margin-top: 8px;
    background-color: indianred;
}

/* PAGE - TEACHERS */
.table-container{
    display: block;
    box-sizing: border-box;
    padding: 40px;   
}

.table-container table {
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

td, th {
    padding: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

th {
    text-transform: uppercase;
    color: rgba(255, 255, 255, .8);
    font-size: 14px;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr  td:first-child span {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;

    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}

tbody tr td:last-child a {
    background-color: #eee;
    color: black;

    padding: 8px 16px;
    border-radius: 6px;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
   
}

.table-container > a{
    background-color: #eee;
    color: black;

    padding: 8px 16px;
    margin-top: 22px;
    float: right;

    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 9px;
    border-radius: 6px;
}

.table-container thead tr th:last-child,
td:last-child {
    text-align: center;
}

/* FILTERS */
.table-container .header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 32px;
}

.table-container .header a {
    margin: 0;
    width: 120px;
    height: 40px;

    font-weight: 600;
}


.table-container .header form {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
    grid-gap: 8px;
}
.table-container .header form input {
    border: 1px solid #eee;
    padding: 8px 16px;
    box-sizing: border-box;
}

.table-container .header button {
    margin: 0;
    height: 40px;

    font-weight: 600;
}


/* Pagination */

.table-container {
    display: grid;
    grid-template: 64px 16px / 1fr;
}


.table-container .header {
    margin: 0;
    align-self: start;
}

.table-container .pagination{
    margin: 0;
    align-self: end;
    justify-self: center;
}


.pagination a,
.pagination span {
    color: #eee;
    text-decoration: none;
    margin-right: 16px;
}


.pagination a:hover{
    filter: brightness(0.3);
    border-bottom: 1px solid #eee;
}
