{% extends "layout.njk" %}

    {% block head %}
        <title>Community</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}

{% block content %}
   <div class="card-teachers table-container">
       <table width="100%">
           <thead>
               <tr>
                   <th>Teachers</th>
                   <th>subjects Taught</th>
                   <th>Type Class</th>
                   <th>Students</th>
                   <th>Action</th>
               </tr>
           </thead>

           <tbody>
             {% for teacher in teachers %}
               <tr>
                   <td><span style="background-image: url({{ teacher.avatar_url }})"></span>{{ teacher.name }}</td>
                   <td>{{ teacher.subjects_taught }}</td>
                   <td>{{ 'Distance' if teacher.class_type == 'D' else 'Presence' }}</td>
                   <td>{{ teacher.total_students }}</td>
                   <td><a href="/teachers/{{ teacher.id }}">View</a></td>
               </tr>
             {% endfor %}
           </tbody>
       </table>

       <a href="/teachers/create">+ New Teacher</a>
   </div>
{% endblock %}