{% extends "layout.njk" %}

    {% block head %}
        <title>Community</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}

{% block content %}
   <div class="card-teachers table-container">
       <div class="header">
           <a href="/teachers/create" class="button">New</a>

           <form action="/teachers" method="GET">
                <input type="text" name="filter" placeholder="Nome ou Atendimento" value="{{ filter }}">
                <button type="submit">Filtrar</button>
           </form>
       </div>
       <table width="100%">
           <thead>
               <tr>
                   <th>Teachers</th>
                   <th>subjects Taught</th>
                   <th>Type Class</th>
                   <th>Students</th>
                   <th>Action</th>
               </tr>
           </thead>

           <tbody>
             {% for teacher in teachers %}
               <tr>
                   <td><span style="background-image: url({{ teacher.avatar_url }})"></span>{{ teacher.name }}</td>
                   <td>{{ teacher.subjects_taught }}</td>
                   <td>{{ 'Distance' if teacher.class_type == 'D' else 'Presence' }}</td>
                   <td>{{ teacher.total_students }}</td>
                   <td><a href="/teachers/{{ teacher.id }}">View</a></td>
               </tr>
             {% endfor %}
           </tbody>
       </table>
   </div>
{% endblock %}